@font-face {
    font-family: 'poppinsregular';
    src: url('../fonts/poppins-regular1-webfont.eot');
    src: url('../fonts/poppins-regular1-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/poppins-regular1-webfont.woff2') format('woff2'),
    url('../fonts/poppins-regular1-webfont.woff') format('woff'),
    url('../fonts/poppins-regular1-webfont.ttf') format('truetype'),
    url('../fonts/poppins-regular1-webfont.svg#poppinsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
    padding: 0;
    margin: 0;
}

header {
    background-color: #181818;
    padding: 24px 0;
}

header .container {
    max-width: 1200px;
    margin: auto;
    padding-left: 32px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

header nav ul li {
    margin-left: 32px;
}

header nav ul li:first-of-type {
    margin-right: 24px;
}

header nav ul li:last-of-type {
    margin-right: 31px;
}

header nav a {
    font: 400 15px/20px 'Poppins', sans-serif;
    color: #FFFFFF;
    text-decoration: none;
}

header nav li:first-of-type a {
    font-size: 13px;
}

header nav li:last-of-type a {
    background: #FFFFFF;
    border-radius: 14px;
    font-size: 16px;
    letter-spacing: 0.4px;
    color: #000000;
    padding: 11px 20px;
}

.main_screen {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 71px;
    background-image: url("../images/IMAGE.jpg");
    background-size: cover;
    height: calc(100vh - 83px);
    box-sizing: border-box;
    position: relative;
}

.main_screen article {
    max-width: 580px;
}

.main_screen article h3 {
    margin-bottom: 1px;
    font: 14px/20px 'poppinsregular';
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}

.main_screen article h1 {
    margin-bottom: 18px;
    font: 54px/59px 'poppinsregular';
    text-align: center;
    color: #FFFFFF;
}

.main_screen article p {
    font: 14px/20px 'poppinsregular';
    text-align: center;
    color: #C0C0C0;
}

.section {
    margin: auto;
    text-align: center;
    background-color: black;
    display: flex;
    justify-content: center;
    padding-top: 113px;
    padding-bottom: 108px;
}

.section div {
    max-width: 571px;
    margin: auto;
}

.section div h2 {
    margin-bottom: 15px;
    font: 40px/42px 'poppinsregular';
    text-align: center;
    color: #FFFFFF;
}

.section div p {
    font: 24px/30px 'poppinsregular';
    text-align: center;
    color: #C0C0C0;
    padding-bottom: 22px;
}

.section a {
    display: inline-flex;
    font: 16px/20px 'poppinsregular';
    text-align: center;
    letter-spacing: 0.4px;
    color: #000000;
    text-decoration: none;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 5px 10px 5px 4px;
    line-height: 32px;
}

.item:before {
    display: inline-block;
    content: "";
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: black;
    margin-right: 6px;
}

.sunset {
    background-image: url("../images/sunset.jpg");
    background-size: cover;
    min-height: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 60px;
}

.monstera {
    background-image: url("../images/monstera.jpg");
}

.himalayas {
    background-image: url("../images/himalayas.jpg");
}

.sunset article {
    max-width: 300px;
}

.sunset article h4 {
    font-family: 'poppinsregular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.sunset article p {
    font-family: 'poppinsregular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}

.clients {
    padding: 113px 0 140px;
    background-color: black;
}

.clients .container {
    max-width: 1168px;
    margin: auto;
}

.clients h2 {
    font-family: 'poppinsregular';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    /* identical to box height, or 105% */
    text-align: center;
    color: #FFFFFF;
}

.clients h3 {
    font-family: 'poppinsregular';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height, or 125% */
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 82px;
}

.clients .flex_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clients .flex_block a {
    display: inline-block;
    margin: 0 10px;
    max-width: 128px;
}

.clients .flex_block a img {
    display: block;
    width: 100%;
}

footer {
    background-color: black;
    padding-top: 100px;
}

footer .container {
    max-width: 1168px;
    margin: auto;
}

.part1 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 36px;
    border-bottom: 2px solid #FFFFFF;
}

.logo {
    font-family: 'poppinsregular';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #C0C0C0;
}

.logo a img {
    padding-bottom: 20px;
}

.logo p, .subscribe p {
    font-family: 'poppinsregular';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #C0C0C0;
}

.links {
    display: flex;
    margin-right: 106px;
}

.areas li:not(:nth-child(1)) a, .pages li:not(:nth-child(1)) a {
    font-family: 'poppinsregular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.areas li:nth-child(1), .pages li:nth-child(1) {
    font-family: 'poppinsregular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    list-style-type: none;
    color: #C0C0C0;
}

.areas {
    margin-right: 55px;
}

.areas li, .pages li {
    margin-bottom: 10px;
}

.links ul li a {
    text-decoration: none;
    font-family: 'poppinsregular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.subscribe h3 {
    font-family: 'poppinsregular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 36px;
}

.subscribe p {
    padding-bottom: 38px;
}

.part2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #FFFFFF;
}

form {
    display: flex;
    width: 458px;
    height: 52px;
    align-items: center;
    text-align: center;
    background: #F9FAFB;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
}

form input {
    visibility: hidden;
}

form input:focus {
    outline: none;
}

form button {
    width: 63px;
    height: 30px;
    background: #000000;
    border-radius: 11px;
    border: none;
    margin-left: auto;
    margin-right: 6px;
}

.part3 {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 56px 0 100px;
}

.copyrights p {
    text-decoration: none;
    font-family: 'poppinsregular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    justify-content: flex-start;
}

.copyrights a {
    text-decoration: none;
    font-family: 'poppinsregular';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #C0C0C0;
}

.socialnetwork a {
    text-decoration: none;
    font-family: 'poppinsregular';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #C0C0C0;
    margin-left: 26px;
}

.bottom_icons {
    display: flex;
    list-style: none;
    position: absolute;
    right: 40px;
    bottom: 40px;
}

.bottom_icons li {
    font-family: 'poppinsregular';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    margin-left: 16px;
}

.bottom_icons li:before {
    content: "";
    display: inline-block;
    background-image: url("../images/icon_1.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
    position: relative;
    bottom: -5px;
}

.bottom_icons li:nth-of-type(2):before {
    background-image: url("../images/icon_2.svg");
}

.bottom_icons li:nth-of-type(3):before {
    background-image: url("../images/icon_3.svg");
    width: 32px;
}

.bottom_icons li:last-of-type:before {
    background-image: url("../images/icon_4.svg");
    width: 10px;
}

.specializations {
    margin: auto;
    background-color: black;
    display: flex;
    justify-content: center;
    padding-top: 112px;
    padding-bottom: 100px;
}

.specializations .container {
    max-width: 1168px;
    margin: auto;
}

.specializations .container h2 {
    font-family: 'poppinsregular';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}

.specializations .container h3 {
    padding-top: 15px;
    font-family: 'poppinsregular';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    padding-bottom: 42px;
}

.servises {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product, .architecture, .drone, .wildlife {
    display: block;
    width: 100%;
    max-width: 576px;
    height: 600px;
    margin-bottom: 16px;
}
.product {
    background-image: url("../images/product.jpg");
}

.architecture {
    background-image: url("../images/architecture.jpg");
}

.drone {
    background-image: url("../images/drone.jpg");
}

.wildlife {
    background-image: url("../images/wildlife.jpg");
}
.servises article {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
}
.servises h4{
    font-family: 'poppinsregular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 10px;
}
.servises p {
    font-family: 'poppinsregular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    padding-bottom: 17px;
}
.servises a{
    font-family: 'poppinsregular';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    letter-spacing: 0.4px;
    color: #000000;
    display: inline-flex;
    text-align: center;
    text-decoration: none;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 5px 10px 5px 4px;
}
.servises a:before {
    display: inline-block;
    content: "";
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: black;
    margin-right: 6px;
}
.servises div{
    margin: auto;
    max-width: 516px;
    padding-bottom: 30px;
}